{% extends "home/layout.njk" %}
{% block menu %}
    <nav>
        {% for category in categories %}
            <a href="/videos/{{category.slug}}">{{ category.name }}</a>
        {% endfor %}
    </nav>
{% endblock %}
{% block content %}
<div class="cards">
    <div class="card">
        <img src="assets/service.png" alt="" srcset="">
        <div class="card_info">
            <h3 class="title">Lorem ipsum dolor sit</h3>
            <p class="content_info">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="time">15min</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/service.png" alt="" srcset="">
        <div class="card_info">
            <h3 class="title">Lorem ipsum dolor sit</h3>
            <p class="content_info">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="time">15min</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/service.png" alt="" srcset="">
        <div class="card_info">
            <h3 class="title">Lorem ipsum dolor sit</h3>
            <p class="content_info">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="time">15min</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/service.png" alt="" srcset="">
        <div class="card_info">
            <h3 class="title">Lorem ipsum dolor sit</h3>
            <p class="content_info">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="time">15min</p>
        </div>
    </div>         
    <div class="card">
        <img src="assets/service.png" alt="" srcset="">
        <div class="card_info">
            <h3 class="title">Lorem ipsum dolor sit</h3>
            <p class="content_info">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="time">15min</p>
        </div>
    </div>         
    <div class="card">
        <img src="assets/service.png" alt="" srcset="">
        <div class="card_info">
            <h3 class="title">Lorem ipsum dolor sit</h3>
            <p class="content_info">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="time">15min</p>
        </div>
    </div>         
    <div class="card">
        <img src="assets/service.png" alt="" srcset="">
        <div class="card_info">
            <h3 class="title">Lorem ipsum dolor sit</h3>
            <p class="content_info">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="time">15min</p>
        </div>
    </div>         
    <div class="card">
        <img src="assets/service.png" alt="" srcset="">
        <div class="card_info">
            <h3 class="title">Lorem ipsum dolor sit</h3>
            <p class="content_info">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="time">15min</p>
        </div>
    </div>         
</div>
{% endblock %}