* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: 0;
  letter-spacing: 0.7px;
}

#wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

#wrapper aside {
  background-color: #0a2558;
  position: relative;
  padding: 8px;
  width: 24%;
}

.logo {
  margin-bottom: 30px;
  color: #fff;
  font-size: 30px;
}

#wrapper aside nav {
  display: flex;
  width: 18vw;
  flex-direction: column;
}

#wrapper aside nav a {
  margin-bottom: 1px;
  color: #ffff;
  font-size: 15px;
  padding: 7px;
  text-decoration: none;
  border-radius: 4px;
}

#wrapper aside nav a:hover {
  background-color: #113069;
  transition: ease-in 300ms;
}

#wrapper .body {
  display: flex;
  flex-direction: column;
  background-color: #f2f5f7;
  width: 100%;
}

form input {
  margin-bottom: 10px;
}

.container .card h4 {
  margin-top: 10px;
}

/*############################### Organization ###################################*/

.newOrganization {
  background-color: green;
}

.buttonCad {
  background-color: blue;
  padding: 10px 25px;
  color: white;
  font-weight: bold;
  outline: none;
}

.buttonCad:hover {
  filter: brightness(90%);
}

.operations {
  display: flex;
  align-items: center;
  justify-items: center;
}

.operations form {
  margin-top: 10px;
  margin-left: 10px;
}
