* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: 0;
}
body {
  font-family: sans-serif;
}

header {
  padding: 20px;
  border-bottom: solid rgb(235, 235, 235) 1px;
}

nav {
  text-align: center;
  padding: 15px;
  background-color: rgb(241, 252, 252);
  border-bottom: solid rgb(235, 235, 235) 1px;
}
nav a {
  margin-right: 15px;
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding: 15px;
}
.cards .card {
  position: relative;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  cursor: pointer;
}

.cards .card img {
  width: 100%;
  height: 70%;
}

.cards .card h3 {
  margin-bottom: 5px;
}

.cards .card .card_info {
  padding: 2px 10px;
}

.cards .card .content_info {
  text-align: justify;
  margin-bottom: 5px;
}

.cards .card .time {
  display: flex;
  flex-direction: row-reverse;
  font-weight: bold;
}
