{% extends "dashboard/layout.njk" %}
{%block content%}
<div class="container">
    <div class="card">
        <h4 class="container">Cadastrar Organização</h4>
        <div class="card-body">
            <form action="/dashboard/save" method="post" class="class-body">
                <label for="">Nome</label>
                <input class="form-control" required type="text" name="name" placeholder="Nome do artigo">
                <button type="submit" class="btn btn-primary btn-block">Salvar</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}