{% extends "dashboard/layout.njk" %}
{% block content %}
    <div class="container">
        <div class="card">
            <h4 class="container">Cadastrar Organização</h4>
            <div class="card-body">
                <form action="/dashboard/updateCategory" method="post" class="class-body">
                    <label for="">Nome</label>
                    <input class="form-control" required type="text" name="name" value="{{ category.name }}" placeholder="Nome do artigo">
                        <input class="form-control" required type="hidden" name="id" value="{{ category.id }}">
                            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}