<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <title>Dashboard</title>
    </head>
    <body>
        <div id="wrapper">
            <aside>
                <nav>
                    <div class="logo">Admin</div>
                    <a href="/dashboard"><img src="" alt="">Categorias</a>
                    <a href="/dashboard/new/organization"><img src="" alt="">Videos</a>
                    <h4>Usuários</h4>
                    <a href="/dashboard/new/coordinator">Usuario</a>
                </nav>
            </aside>
            <div class="body">
                {%block header%}
                <header><img src="/assets/menu.svg" alt=""></header>
                {%endblock%}
                <main class="content">
                    {%block content%}
                    {%endblock%}
                </main>
            </div>
        </div>
    </body>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</html>