{% extends "dashboard/layout.njk" %}
{% block content %}
    <div class="container">
        <div class="card">
            <h4 class="container">Lista de Organizações</h4>
            <a class="container" href="/dashboard/addCategory">
                <button class="buttonCad">Cadastrar</button>
            </a>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Operação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <th scope="row">{{ category.id }}</th>
                                <td>{{ category.name }}</td>
                                <td class="operations">
                                    <a href="/dashboard/category/edit/{{ category.id }}" class="btn btn-primary">edit</a>
                                    <form action="/dashboard/category/delete/{{ category.id }}" method="post">
                                        <input type="submit" class="btn btn-danger" value="delete"></form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}